/* ------------------------------------------
-- GENERAL VIEWS & OPTIONS ------------------
------------------------------------------ */

.viewContainer {
	width: 2048px;
	height: 1536px;
	top: 0px;
	left: 0px;
	overflow: hidden;
	position: absolute;
}

.mapView {
	width: 1264px;
	height: 1536px;
	top: 0px;
	left: 784px;
	position: absolute;
	background-color: #fff;
}

.sideBar {
	width: 784px;
	height: 1536px;
	top: 0px;
	left: 0px;
	position: absolute;
	float: left;
	background-color: #fff;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #7f7f7f;
	z-index: 50;
}

.contentView {
	width: 1024px;
	height: 100%;
	top: 0px;
	left: -240px;
	background-color: #fff;
	position: absolute;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #7f7f7f;
	z-index: 20;
	-webkit-transition: left 0.5s;
}

.contentView.active {
	left: 784px;
}

img {
	width: 100%;
	margin-top: 30px;
	margin-bottom: 30px;
}

/* ------------------------------------------
-- KARTE ALSO MAP ---------------------------
------------------------------------------ */

.mapElement {
	width: 1012px;
	height: 196px;
	top:-1000px;
	left:900px;
	position: fixed;
	z-index: 10;
	/*-webkit-transition: -webkit-transform 0.2s;
	-webkit-transition: -webkit-transform-origin 0.2s;*/
	background-repeat: no-repeat;
	background-size: contain;
}

.mapElement.upper {
	top: -250px;
}

.mapElement.lower {
	top: 1500px;
}

.mapElement.active {
	top: 658px; 
}

.mapElement.transtation#floor1,
.mapElement.transtation#floor2,
.mapElement.transtation#floor3,
.mapElement.transtation#floor4 {
	width: 982px;
	height: 196px;
}

.mapElement.rks#floor1,
.mapElement.rks#floor2,
.mapElement.rks#floor3 {
	top: -100px;
	left:850px;
	width: 1070px;
	height: 909px;
}

.trainstation#floor1 {
	background-image: url(../img/maps/train_map_0.svg);
}

.trainstation#floor2 {
	background-image: url(../img/maps/train_map_1.svg);
}

.trainstation#floor3 {
	background-image: url(../img/maps/train_map_2.svg);
}

.trainstation#floor4 {
	background-image: url(../img/maps/train_map_3.svg);
}

.rks#floor1 {
	background-image: url(../img/maps/rks_map_0.svg);
}

.rks#floor2 {
	background-image: url(../img/maps/rks_map_1.svg);
}

.rks#floor3 {
	background-image: url(../img/maps/rks_map_2.svg);
}

.floorSwitcher {
	top: 0px;
	left: 1928px;
	width: 120px;
	height: 100%;
	position: fixed;
	z-index: 999;
}

.floorButtons {
	background-color: rgba(255, 255, 255, 0.95);
	height: 480px;
	width: 100%;
	top: 50%;
	position: relative;
	margin-top: -150px;
	border-style: solid;
	border-width: 1px;
	border-color: #ffffff;
	-webkit-transition: border-color 0.1s;
}

.floorButtons.bg {
	border-color: #7f7f7f;
}

.floorButton {
	width: 120px;
	height: 120px;
	text-align: center;
	padding-top: 46px;
	color: rgba(0,0,0,0.5);
}

.floorButton.active {
	color: #000;
}

/* ------------------------------------------
-- TYPOGRAPHY -------------------------------
------------------------------------------ */

@font-face {
  font-family: 'UniversLTStd';
  src: url('../font/UniversLTStd.otf') format('opentype');
}

@font-face {
  font-family: 'UniversLTStd-Bold';
  src: url('../font/UniversLTStd-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'UniversLTStd-Light';
  src: url('../font/UniversLTStd-Light.otf') format('opentype');
}

h1 {
	font-family: 'UniversLTStd';
	font-weight: normal;
	font-size: 35px;
}

h2 {
	font-family: 'UniversLTStd-Bold';
	font-size: 35px;
	font-weight: normal;
	line-height: 50px;
	margin-bottom: 30px;
}

p {
	font-family: 'UniversLTStd';
	font-size: 35px;
	font-weight: normal;
	line-height: 50px;
}

.bold {
	font-family: 'UniversLTStd-Bold';
}

.horiCenter {
	text-align: center;
}

/* ------------------------------------------
-- COLORS -----------------------------------
------------------------------------------ */

.pgColor {
	color: #1c93a7;
}

.igColor {
	color: #a9bd38;
}

.kgColor {
	color: #e48e13;
}

.iotColor {
	color: #283178;
}

.sgColor {
	color: #b548b1;
}


/* ------------------------------------------
-- SIDEBAR ----------------------------------
------------------------------------------ */

/* general */

.sidebarContent {
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0px;
	overflow: hidden;
}

.programsContent {
	position: absolute;
	height: 100%;
	width: 100%;
	left: -784px;
	background-color: #fff;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #7f7f7f;
	-webkit-transition: left 0.5s;
}

.servicesContent {
	position: absolute;
	height: 100%;
	width: 100%;
	left: 784px;
	background-color: #fff;
	-webkit-transition: left 0.5s;
}

.programsContent.active {
	left: 0px;
}

.servicesContent.active {
	left: 0px;
}

/* top */

.topIndicator {
	width: 100%;
	height: 146px;
	top: 0px;
	left: 0px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #7f7f7f;
}

.contentIndicator {
	float: left;
	width: 50%;
	height: 100%;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.contentIndicator.borderRight {
	border-right-style: solid;
	border-right-color: #7f7f7f;
	border-right-width: 1px;
}

.contentIndicator.active {
	background-color: #eee;
}

.vertIndicatorCenter {
	margin-top: 60px;
}


/* cells */

.programCell {
	height: 189px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	list-style: none;
}

.serviceCell {
	height: 189px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	list-style: none;
}

.programLabel {
	width: 178px;
	height: 100%;
	float: left;
}

.sidebarIcon {
	width: 50px;
	height: 50px;
	background-size: 100%;
	background-repeat: no-repeat;
	margin: 66px auto;
}

#toiletsIcon {
	background-image: url(../img/icons/toilets.svg);
}

#liftIcon {
	background-image: url(../img/icons/elevator.svg);
}

#foodIcon {
	background-image: url(../img/icons/mensa.svg);
}

#infoIcon {
	background-image: url(../img/icons/info.svg);
}

#routeIcon {
	background-image: url(../img/icons/route.svg);
}


.programTitle {
	width: 604px;
	height: 100%;
	float: left;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #7f7f7f;
}

.programTitle.active {
	color: red;
	border-bottom-style: none;
}

.programCell.active {
	background-color: #eee;
}

.serviceCell.active {
	background-color: #eee;
}

.vertCellCenter {
	margin-top: 80px;
}

.floatLeft {
	float: left;
}
/*
.chevron {
	width: 100px;
	height: 100px;
	background-image: url(../img/icons/chevron.png);
	margin-left: 500px;
	margin-top: 40px;
	display: none;
}
*/
/* ------------------------------------------
-- CONTENT-VIEW -----------------------------
------------------------------------------ */

.semesterSelector {
	width: 120px;
	height: 840px;
	margin-top: 768px;
	float: left;
}

.semesterClick {
	width: 120px;
	height: 120px;
	padding-top: 50px;
	color: #aaa;
}

.semesterClick.active {
	color: #000;
}

.semesterContentView {
	width: 904px;
	margin-left: 120px;
	height: 100%;
}

.fixedTitle {
	position: fixed;
	width: 903px;
	background-color: #fff;
	z-index: 60;
}

.fixedTitle > .programLabel {
	margin-top: 60px;
	width: 120px;
}

.fixedTitle > .programTitle {
	margin-top: 60px;
	padding-bottom: 60px;
	width: 783px;
}

.semesterContentFrame {
	width: 100%;
	height: 100%;
	float: left;
	overflow-y: scroll;
}

.semesterContent {
	width: 664px;
	margin-top: 160px;
	margin-left: 120px;
}

.semesterContent.unspecific {
	padding-top: 60px;
}

.closeButton {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 18px;
	left: 904px;
	margin: 40px;
	z-index: 999;
	background-size: contain;
	background-repeat: no-repeat;
}

#closeIcon {
	background-image: url(../img/icons/close.svg);
}

.sidebarRouteButton {
	width: 783px;
	height: 140px;
	margin-bottom:60px;
	border-bottom-style: solid;
	border-color: #7f7f7f;
	border-width: 1px;
}

.sidebarRouteButton.unspecific {
	margin-top: 60px;
	border-top-style: solid;
}

.sidebarRouteIcon {
	width: 65px;
	height: 65px;
	float: left;
	margin-right: 40px;
	position: relative;
	top: 38px;
}

.sidebarRouteLabel {
	position: relative;
	top:45px;
}

/* ------------------------------------------
-- ROOMS ------------------------------------
------------------------------------------ */

.room {
	position: absolute;
	z-index: 10;
}

/* ------------------------------------------
-- POPUP ------------------------------------
------------------------------------------ */

.popUp {
	position: fixed;
	width: 700px;
	z-index: 40;
	background-color: rgba(255,255,255,0.95);
	border-style: solid;
	border-width: 1px;
	border-color: #7f7f7f;
}

.popUpTitle {
	width: 100%;
	height: 130px;
	position: absolute;
}

.popUpInfoButton {
	width: 100%;
	height: 130px;
	margin-top: 126px;
	position: absolute;
}

.popUpRouteButton {
	width: 100%;
	height: 130px;
	margin-top: 252px;
	position: absolute;
}

.popUpVertCenter {
	margin-top: 50px;
	margin-left: 50px;
}

.popUpFullTitle {
	margin-left: 120px;
	padding-bottom: 40px;
}

.popUpUnderline {
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #7f7f7f;
}

.popUpIcon {
	width: 50px;
	height: 50px;
	margin-top: 40px;
	margin-left: 40px;
	float: left;
	background-size: 100%;
}

.popUpLine {
	width: 2px;
	height: 100px;
	top: 100%;
	left: 350px;
	margin-left: -1px;
	position: relative;
	background-color: #7f7f7f
}

/* ------------------------------------------
-- ROUTE ------------------------------------
------------------------------------------ */

.routeLine {
	position: relative;
	background-color: blue;
}

.routeHall {
	position: relative;
	height: 5px;
}

#hall1 {
	width: 54%;
	top: 33%;
	left: 2.5%;
}

#hall2 {
	width: 30%;
	top: 36%;
	left: 56.5%;
}

.currentLocation {
	position: relative;
	top: 50%;
	left: 48%;
}


/* ------------------------------------------
-- SETTINGS ---------------------------------
------------------------------------------ */

.settingsContainer {
	width: 2048px;
	height: 1536px;
	top: 0px;
	left: 0px;
	position: absolute;
}

.settingsHeader {
	width: 100%;
	height: 200px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #7f7f7f;
}

.buildingSelector {
	width: 50%;
	height: 60%;
	float: left;
	background-color: #fff;
}

.floorSelector {
	width: 50%;
	height: 60%;
	float: left;
	background-color: #fff;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #7f7f7f;
}

.saveSettings {
	width: 800px;
	margin: auto;
	height: 160px;
	clear: both;
	background-color: #fff;
	border-style: solid;
	border-width: 1px;
	border-color: #7f7f7f;
	text-align: center;
	padding-top: 65px;
}

.settingsButton {
	width: 800px;
	height: 200px;
	background-color: white;
	float: right;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #7f7f7f;
}

.settingsTypo {
	margin: 83px;
	position: absolute;
}

.floorSettingsButton {
	width: 800px;
	height: 200px;
	background-color: white;
	float: left;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #7f7f7f;
}

.hfgLogo {
	width: 398px;
	height: 199px;
	left: 180px;
	position: absolute;
	background-image: url(../img/hfglogo.png);
	background-size: 100% 100%;
}

.room > .roomLabel {
	-webkit-transition: font-size 0.2s;
	-webkit-transition: opacity 0.2s;
	text-transform: uppercase;
	position: relative;
	top: 50%;
	margin-top: -14px;
	text-align: center;
	z-index: 5;
}















